{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    {% if error %}<p class=error>{{ error }}{% endif %}
    <h2>Add New Game</h2>
    <form action="{{ url_for('add_game') }}" method=post class=send-code
      enctype=multipart/form-data >
      <dl>
        <dt>Name of the game:
          <dd><input type="text" name="gameName" size="25" maxlength="24"
            required>
        <dt>Name of server file (only jars are accepted):
          <dd><input type="text" name="gameFileName" size="25" maxlength="24"
            required>
          <dd>You must send jar after the game is created and viewed in the
          Games Management subpage.
        <dt>Description:
          <dd><textarea name=description rows=5 cols=80 required
            x-moz-errormessage="Enter description!"></textarea>
        <dt>Multiplayer: <input type="checkbox" name="multi" value=true>
        <dd><input type=submit value=Send>
      </dl>
    </form>
  {% endif %}
{% endblock %}
