{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error>{{ error }}{% endif %}
  <form action="{{ url_for('new_duel') }}" method=post class=send-code>
  <!-- Currently hard coded. TODO: Dynamic game usage. -->
    <dt>Game:
    <dd><select name=game>
      <option value="RCS">Rock-paper-scissors</option>
      <option value="TTT">Tic-Tac-Toe</option>
    </select>
    <ul class=users>
      {% for user in users %}
        <li><h2><input type="radio" name="oponent" />{{ user }}</h2>
      {% else %}
        <li><em>There are no more users now.</em>
      {% endfor %}
    </ul>
    <dd><input type=submit value=Invite>
  </form>
{% endblock %}
