{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error>{{ error }}{% endif %}
  {% if users %}
      <form action="{{ url_for(nextF) }}" method=post class=send-code>
        <dt>Oponent:
        <dd><select name=chosenOne>
        {% for user in users %}
          <option value="{{ user }}" />{{ user }}</option>
        {% endfor %}
        <input type=hidden name=id value="{{ id }}">
        <dd><input type=submit value={{ cuMes }}>
      </form>
  {% else %}
    <dt> There are no more users now.
  {% endif %}
{% endblock %}
