{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error>{{ error }}{% endif %}
  <a href="{{ url_for('add_game') }}">Add new game</a><br />
  <br />
  {% if games %}
    <h2>Available games:</h2>
    {% for game in games %}
      <li>{{ game.Name }} - {{ game.Description }}
        <dd>Send game server:
        <form action="{{ url_for('send_server', gameName=game.Name) }}"
          method=post class=send-code enctype=multipart/form-data >
              <dd><input type="file" name="file" required>
            <dd><input type=submit value=Send server>
        </form>
<!--
        <dd><a href="{{ url_for('new_tournament') }}">Send game test-bot</a>
        <dd><a href="">Send game help</a>
-->
      </li>
    {% endfor %}
    </li>
  {% endif %}
{% endblock %}
