{% extends "layout.html" %}
{% block body %}
  <ul class=news>
  {% for entry in news %}
    <li><h2>{{ entry.title }} by {{ entry.author }} ({{ entry.published }})</h2><br />
      {{ entry.entry|safe }}<br />
      {{ entry.summary|safe }}<br /><br />
      <b>Category:</b> {{ entry.subtitle }}<br /><br /><br />
  {% else %}
    <li><em>No news here!</em>
  {% endfor %}
  <br /><br />
  <div class="fb-like" data-href="http://walki-botow.herokuapp.com/" data-send="true"
      data-width="450" data-show-faces="true" data-font="verdana"></div>
  <div class="fb-comments" data-href="http://walki-botow.herokuapp.com/"
  data-width="470" data-num-posts="10"></div>
  </ul>
{% endblock %}
