{% extends "layout.html" %}
{% block head %}
  <script src="{{ url_for('static', filename='main.js') }}"
    type="text/javascript" charset=utf-8"></script>
{% endblock %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error>{{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Username:
        <dd><input type="text" name="username" placeholder="Your nickname!"
          autofocus required x-moz-errormessage="Enter Username"
          onfocus="validateUsername(this);" oninput="validateUsername(this);"
          size="10" maxlength="128">
      <dt>Password:
        <dd><input type="password" name="password" required id="p1"
          size="10" maxlength="128">
      <dt>Confirm Password:
        <dd><input type="password" name="password2" required
          onfocus="validatePass(document.getElementById('p1'), this);"
          oninput="validatePass(document.getElementById('p1'), this);"
          size="10" maxlength="128">
      <dt>Name:
        <dd><input type="text" name="name" placeholder="f.e. John" required
          x-moz-errormessage="Enter First Name" size="10" maxlength="128">
      <dt>Surname:
        <dd><input type="text" name="surname" placeholder="f.e. Smith" required
          x-moz-errormessage="Enter Second Name" size="10" maxlength="128">
      <dt>e-mail address:
        <dd><input type="email" name="e_mail" placeholder="your_email@domain.com"
          required>
      <dt>Sex:<br />
        <input type="radio" name="sex" value="male" required>Male<br />
        <input type="radio" name="sex" value="female" required>Female
      <dd><input type=submit value="Join Now!">
    </dl>
  </form>
{% endblock %}
