{% extends "layout.html" %}
{% block head %}
  <script src="main.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error>{{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type="text" name="username" placeholder="Your nickname!"
              autofocus required x-moz-errormessage="Enter Username">
      <dt>Password:
      <dd><input type="password" name="password" required>
      <dt>Confirm Password:
      <dd><input type="password" name="password2" required
        onfocus="validatePass(document.getElementById('p1'), this);"
        oninput="validatePass(document.getElementById('p1'), this);">
      <dt>Name:
      <dd><input type="text" name="Name" placeholder="f.e. John">
      <dt>Surname:
      <dd><input type="text" name="Surname" placeholder="f.e. Smith">
      <dt>e-mail address:
      <dd><input type="email" name="e_mail" placeholder="your_email@domain.com"
              required>
      <dt>Sex:<br>
        <input type="radio" name="sex" value="male">Male<br>
        <input type="radio" name="sex" value="female">Female
      <dt>Group:<br>
      <dd><input type="number" min="0" max="1" name="group">
      <dd><input type=submit value="Register">
    </dl>
  </form>
{% endblock %}
