{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% if error %}<p class=error>{{ error }}{% endif %}
    {% if isP %}
    <h2>SEND IN TEXTBOX</h2>
    <form action="{{ url_for('send_code', idG=number, game=game) }}" method=post >
      <dl>
        <dt><input type="hidden" name="codeForm" value="text"> Code:
        <dd><textarea name=code rows=10 cols=80></textarea>
        <dt>Language:
        <dd><select name=lang>
          <option value="cpp">C++</option>
          <option value="cs">C#</option>
          <option value="java">Java</option>
          <option value="p">Pascal</option>
          <option value="py">Python</option>
        </select>
        <dt>File name (if You use Java - NAME IT AFTER YOUR MAIN CLASS):
        <dd><input type="text" name="fileName" size="25" maxlength="128">
        <dd><input type=submit value=Send>
      </dl>
    </form>
    <h2>OR SEND FILE</h2>
    <form action="{{ url_for('send_code', idG=number, game=game) }}" method=post class=send-code enctype=multipart/form-data >
      <dl>
        <dt><input type="hidden" name="codeForm" value="file"> File:
        <dd><input type="file" name="file">
        <dd><input type=submit value=Send>
      </dl>
    </form>
    {% endif %}
  {% endif %}
{% endblock %}
