{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error>{{ error }}{% endif %}
  {% if tour %}
    <h2>{{ tourId }}. {{ tour.TourName }}</h2>
    <dt><b>Game: {{ tour.Name }}</b>
    <dt>Number of currently signed players:
      <dd>{{ tour.CurrPlayers }}/{{ tour.MaxPlayers }}
    <dt>Description:
      <dd>{{ tour.Description }}
    <dt>Rules:
      <dd>{{ tour.Rules }}
    <dt>Registration type:
      <dd>{{ tour.RegType }}
    <dt>Beginning of registration:
      <dd>{{ tour.Begin }}
    <dt>End of registration:
      <dd>{{ tour.End }}
    <dt>Start of tournament:
      <dd>{{ tour.Start }}
    <br /><br />
    {% if regState %}
      <dt>State of registration: <b>OPEN</b><br /><br />
      {% if isPlay == False %}
        {% if tour.RegType == "Invitation" %}
          {% if cATA %}
            <dt><form method="link"
              action="{{ url_for('sign_i_tournament', tourId=tourId) }}">
              <dt><input type="submit" value="Invite someone!">
            </form>
          {% endif %}
        {% endif %}
        {% if tour.RegType == "Free" %}
          {% if not playState %}
            <dt><form method="link"
              action="{{ url_for('sign_f_tournament', tourId=tourId) }}">
              <input type="submit" value="Sign In!">
            </form>
          {% endif %}
        {% endif %}
      {% endif %}
    {% else %}
      <dt>State of registration: <b>CLOSED</b><br /><br />
    {% endif %}
    {% for player in plList %}
      <li><b>{{ player.Login }}:</b> {{ player.Points }} points.
    {% else %}
      <li><em>No players yet. Be first!</em>
    {% endfor %}
    <br /><br />
    {% if cATA %}
      <dd><form method="link"
        action="{{ url_for('add_tour_admin', tourId=tourId) }}">
        <dt><input type="submit" value="Add Tournament Admin!">
      </form>
      <dd><form method="link"
        action="{{ url_for('edit_tournament', tourId=tourId) }}">
        <dt><input type="submit" value="Edit Tournament!">
      </form>
      <dd>Send game server:
        <form action="{{ url_for('update_def_tcode', tourId=tourId) }}"
          method=post class=send-code enctype=multipart/form-data >
          <dd><input type="file" name="file" required>
          <dt><input type=submit value="Add/Change Tournament Default Bot!">
        </form>
    {% endif %}
    {% if playState %}
      {% if isPlay %}
        <a href="{{ url_for('send_code_t', tourID=tourId) }}">Send code</a><br />
      {% endif %}
    {% endif %}
    {% if 'isSU' in session %}
      <dt><a href="{{ url_for('delete_t', tourId=tourId) }}">
        Delete this tournament!</a><br />
    {% endif %}
    <br />
    <br />
  {% endif %}
{% endblock %}