{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error>{{ error }}{% endif %}
  {% if tour %}
  <h2>{{ tourId }}. {{ tour.TourName }}</h2>
  <dt><b>Game: {{ tour.Name }}</b>
  <dt>Number of currently signed players:<dd>{{ tour.CurrPlayers }}/{{ tour.MaxPlayers }}
  <dt>Description:<dd>{{ tour.Description }}
  <dt>Rules:<dd>{{ tour.Rules }}
  <dt>Registration type:<dd>{{ tour.RegType }}
  <dt>End of registration:<dd>{{ tour.End }}
    {% if tour.RegType == "Invitation" %}
    <dt><form method="link" action="{{ url_for('sign_f_tournament', invId=tourId) }}">
      <dt><input type="submit" value="Invite someone!">
    </form>
    {% endif %}
    {% if tour.RegType == "Free" %}
    <dt><form method="link" action="{{ url_for('sign_f_tournament', tourID=tourId) }}">
      <input type="submit" value="Sign In!">
    </form>
    {% endif %}
    {% if cATA %}
    <dt><form method="link" action="{{ url_for('new_duel', invId=tourId) }}">
      <dt><input type="submit" value="Invite someone!">
    </form>
    {% endif %}
  <br /><br />
  {% endif %}
{% endblock %}